<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <%- include("../../templates/head-pwa") %>
        <%- include("../../templates/master/cabecera") %>
</head>

<body>
    <input type="hidden" id="rol" value="<%= rol %> ">
    <div class="container-scroller">
        <!-- navcabecera -->
        <%- include("../../templates/master/navCabecera") %>
            <div class="container-fluid page-body-wrapper">
                <!-- nav lateral -->
                <%- include("../../templates/master/navLateral") %>
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="page-header">
                                <h3 class="page-title">Activos Fijos</h3>
                                <!-- abrir modal -->
                                <button type="button" class="btn btn-inverse-success" data-toggle="modal"
                                    data-target="#miModal"><i class="mdi mdi-account-plus mr-1"></i>Agregar
                                    Equipo</button>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Activos</a></li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive w-100">
                                                <table class="table table-striped table-bordered w-100" id="tbActivos">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">id</th>
                                                            <th scope="col">No Economico</th>
                                                            <th scope="col">Equipo</th>
                                                            <th scope="col">Empresa pertenece</th>
                                                            <th scope="col">Centro de coste</th>
                                                            <th scope="col">Marca</th>
                                                            <th scope="col">Modelo</th>
                                                            <th scope="col">No.serie</th>
                                                            <th scope="col">Tag o imei</th>
                                                            <th scope="col">Estado</th>
                                                            <th scope="col">Documentos</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                        <!-- partial:partials/_footer.html -->
                        <%- include("../../templates/master/footer") %>
                            <!-- partial -->
                    </div>
                    <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- Modal -->
    <%- include("../../templates/activos/modalAgregarActivo") %>
        <%- include("../../templates/activos/modalEditarActivo") %>
            <%- include("../../templates/activos/modalFotoActivo") %>
                <%- include("../../templates/activos/modalFacturaActivo") %>
                    <%- include("../../templates/activos/modalBajasActivo") %>
                    <%- include("../../templates/activos/modalPdf") %>


                        <!-- container-scroller -->
                        <%- include("../../templates/master/scripts") %>
                            <script type="module" src="../../../app/activos/main.js"></script>
</body>

</html>