<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <%- include("../../templates/head-pwa") %>
        <%- include("../../templates/master/cabecera") %>
</head>

<body>
    <div class="container-scroller">
        <!-- navcabecera -->
        <%- include("../../templates/master/navCabecera") %>
            <div class="container-fluid page-body-wrapper">
                <!-- nav lateral -->
                <%- include("../../templates/master/navLateral") %>
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="page-header">
                                <h3 class="page-title">Equipos Asigandos</h3>
                                <!-- boton para abrir modal de bosstrap -->
                                <button type="button" class="btn btn-inverse-success" data-toggle="modal"
                                    data-target="#miModal"><i class="mdi mdi-account-plus mr-1"></i>Agregar
                                    Usuario</button>
                                <button type="button" class="btn btn-inverse-primary" data-toggle="modal"
                                    data-target="#asignarEquipo"><i class="mdi mdi-responsive  mr-1"></i>Asignar
                                    Equipo</button>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Activos</a></li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- <h4 class="card-title">Centros de coste</h4> -->
                                            <div class="table-responsive w-100">
                                                <table class="table table-striped table-bordered w-100"
                                                    id="tbAsignaciones">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID Empleado</th>
                                                            <th scope="col">Marca</th>
                                                            <th scope="col">Modelo</th>
                                                            <th scope="col">SN</th>
                                                            <th scope="col">ST</th>
                                                            <th scope="col">Categoria</th>
                                                            <th scope="col">Estado</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Apellido Paterno</th>
                                                            <th scope="col">Apellido Materno</th>
                                                            <th scope="col">Responsiva</th>
                                                            <th scope="col">Ubicacion</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content-wrapper ends -->
                        <!-- partial:partials/_footer.html -->
                        <%- include("../../templates/master/footer") %>
                            <!-- partial -->
                    </div>
                    <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- Modal -->
    <%- include("../../templates/activos/modalUsuarios") %>
        <%- include("../../templates/activos/modalAsignarActivo") %>
            <%- include("../../templates/activos/modalEditarAsignacion") %>
                <%- include("../../templates/activos/modalEditarResponsiva") %>
                <%- include("../../templates/activos/modalPdf") %> 


                    <!-- container-scroller -->
                    <%- include("../../templates/master/scripts") %>
                        <script type="module" src="../../../app/activos/main.js"></script>
</body>

</html>