<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../../templates/head-pwa") %>
        <link rel="stylesheet" href="../../css/mensajeNotificaciones.css">
        <%- include("../../templates/mezclas/cabeceraNotificacion") %>

</head>


<body>
    <%- include("../../templates/mezclas/headerNav") %>


        <input type="hidden" value="<%= rol %>" id="rol">
        <input type="hidden" id="mensajes" value="<%= data.respuestaSolicitud %>" disabled>
        <input type="hidden" id="idSolicitud" value="<%= data.id %>" disabled>


        <section id="formPreparadas" class="formularios">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="form">
                                    <div class="card">
                                        <div class="titulo">
                                            <div class="col">
                                                <div
                                                    style="display: flex; flex-direction: column; align-items: start; width: 20%;">

                                                    <button class="formulario__submit" id="regresatabla"><span
                                                            class="mdi mdi-arrow-left-bold"></span></button>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <h3>Solicitud</h3>
                                            </div>
                                        </div>
                                        <hr>

                                        <% if (rol==="mezclador" || rol==="administrativo" ) { %>
                                            <div class="formulario__campo"
                                                style="display: flex; flex-direction: column; align-items: center;">
                                                <label class="formulario__label" for="folioi">Descargar
                                                    Solicitud</label>
                                                <button type="button" class="btn btn-primary formulario__submit"
                                                    id="descargar" style="width: 20vw;">
                                                    Descargar
                                                </button>
                                            </div>
                                            <% } %>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="folioi">Folio de
                                                        Receta</label>
                                                    <input type="text" class="formulario__input" id="folioi"
                                                        value="<%= data.FolioReceta %>" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="solicitai">Solicita</label>
                                                    <input type="text" class="formulario__input" id="solicitai"
                                                        value="<%= data.Solicita %>" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="fechai">Fecha de
                                                        Solicitud</label>
                                                    <input type="text" class="formulario__input" id="fechai"
                                                        value="<%= data.fechaSolicitud %>" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="ranchoi">Rancho
                                                        Destino</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.ranchoDestino %>" id="ranchoi" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="centroCostei">Centro de
                                                        coste</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.centroCoste %>" id="centroCostei" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="variedadi">Variedad</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.variedad %>" id="variedadi" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="empresai">Empresa</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.empresa %>" id="empresai" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="temporadai">Temporada</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.temporada %>" id="temporadai" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="cantidadi">Cantidad de
                                                        producto</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.cantidad %>" id="cantidadi" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label"
                                                        for="presentacioni">Presentacion</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.prensetacion %>" id="presentacioni" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label" for="metodoi">Metodo de
                                                        aplicacion</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.metodoAplicacion %>" id="metodoi" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label"
                                                        for="descripcioni">Descripcion</label>
                                                    <input type="text" class="formulario__input"
                                                        value="<%= data.descripcion %>" id="descripcioni" disabled>
                                                </div>
                                                <div class="formulario__campo">
                                                    <label class="formulario__label">Productos</label>
                                                    <button type="button" class="btn btn-primary formulario__submit"
                                                        id="receta" data-bs-toggle="modal">
                                                        Mostrar Receta
                                                    </button>
                                                </div>
                                                <% if (rol==="mezclador" || rol==="administrativo" ) { %>
                                                    <form id="formSolicutudes">
                                                        <div class="formulario__campo">
                                                            <label class="formulario__label" for="notaMezcla">Nota de
                                                                mezclador</label>
                                                            <textarea id="notaMezcla"
                                                                class="formulario__input"></textarea>
                                                        </div>
                                                        <div class="formulario__campo">
                                                            <button type="submit" class="formulario__submit"
                                                                id="btnGuardarMescla" style="display: none;">Guardar
                                                                mezcla</button>
                                                        </div>
                                                    </form>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal mostar receta -->
        <%- include("../../templates/mezclas/mostrarReceta") %>

            <!-- Modal nuevo producto -->
            <%- include("../../templates/mezclas/modalNuevoProducto") %>

                <!--notificaion-->
                <%- include("../../templates/mezclas/notificacion") %>


                    <!-- Firebase Configuración y funciones -->
                    <%- include("../../templates/mezclas/scripts") %>
                        <script type="module" src="../../app/pendientes/FuncionesAlmacen.js"></script>


</body>

</html>