<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../../templates/head-pwa") %>
        <%- include("../../templates/mezclas/cabecera") %>
</head>


<body>
    <%- include("../../templates/mezclas/headerNav") %>
        <input type="hidden" value="<%= rol %>" id="rol">
        <input type="hidden" id="id">
        <section id="tablaFuciones" style="display: block;">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="titulo">
                                    <div class="col">
                                        <div
                                            style="display: flex; flex-direction: column; align-items: start; width: 20%;">
                                            <button class="formulario__submit" id="regresar"><span
                                                    class="mdi mdi-arrow-left-bold"></span></button>
                                        </div>
                                    </div>
                                    <% if (rol==="mezclador" || rol==="administrativo" || rol==="master" ) { %>
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn btn-primary" id="btnReporte">Descargar
                                                Solicitudes</button>
                                        </div>
                                        <% } %>
                                            <div class="text-center">
                                                <h3>Solicitudes</h3>
                                            </div>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table
                                        class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                        id="tbPendientes" style="white-space: nowrap;">
                                        <thead class="bg-primary">
                                            <tr class="bg-primary">
                                                <th scope="col">Solicitud</th>
                                                <th scope="col">Solicita</th>
                                                <th scope="col">Fecha de Solicitud</th>
                                                <th scope="col">Rancho destino</th>
                                                <th scope="col">Empresa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Los datos se llenarán dinámicamente -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- modal de solicitud -->
        <%- include("../../templates/mezclas/modalRecetaConfirmacion") %>

            <!-- Modal nuevo producto -->
            <%- include("../../templates/mezclas/modalNuevoProducto") %>

                <!-- formularios para seleciona empresa -->
                <%- include("../../templates/mezclas/modalSelecionEmpresa") %>

                    <!-- modal Nota almacen -->
                    <%- include("../../templates/mezclas/modalNotaAlmacen") %>

                        <!-- Firebase Configuración y funciones -->
                        <%- include("../../templates/mezclas/scripts") %>

                            <script type="module" src="/app/mezclas2/main.js"></script>

</body>

</html>