<!DOCTYPE html>
<html lang="es">

<head>
    <!-- <%- include("../../templates/head-pwa") %> -->
        <link rel="stylesheet" href="../../css/mensajeNotificaciones.css">
        <link rel="stylesheet" href="../../css/spinner.css">
        <%- include("../../templates/mezclas/cabecera") %>

</head>


<body>
    <%- include("../../templates/combustibles/nav") %>

        <input type="hidden" value="<%= rol %>" id="rol">
        <section>
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="titulo">
                                    <div class="col">
                                        <div
                                            style="display: flex; flex-direction: column; align-items: start; width: 20%;">
                                            <button class="formulario__submit" id="regresarInicio"><span
                                                    class="mdi mdi-arrow-left-bold"></span></button>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-md-2 d-flex justify-content-end">
                                            <button class="formulario__submit" id="abrirTicket">Abrir Tickets</button>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-end">
                                            <button class="formulario__submit" id="cerrarTicket">Cerrar Ticket</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h3>Tickets Pendientes</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table
                                        class="table table-striped table-bordered table-hover table-sm table-compac border-0"
                                        id="tbTickets" style="white-space: nowrap;">
                                        <thead class="bg-primary">
                                            <tr class="bg-primary">
                                                <th>Ticket</th>
                                                <th>Centro de coste</th>
                                                <th>Num_Economico</th>
                                                <th>Prioridad</th>
                                                <th>Fecha Solicitud</th>
                                                <th>Mantenimiento</th>
                                                <th>Reparacion Solicitada</th>
                                                <th>Taller</th>
                                                <th>Estado</th>
                                                <th>Temporada</th>
                                                <th>Kilometros</th>
                                                <th>Conductor</th>
                                                <th>Termino de reparacion</th>
                                                <th>Observaciones</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Los datos se llenarán dinámicamente -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include("../../templates/combustibles/modalAbrirTicket") %>
            <%- include("../../templates/mezclas/scripts") %>
                <script type="module" src="../../app/vehiculos/main.js"></script>

</body>

</html>